<p><b>Programming languages:</b> Java, Kotlin, ActionScript 3.0, NodeJS, ExtendScript, TypeScript, Bash</p>
<p><b>Frameworks:</b> Spring, Java Spark, React, Redux, JavaFX</p>
<p><b>Databases:</b> PostgreSQL, MySQL, Oracle</p>
<p><b>Platforms:</b> Mac OS X, Windows, Linux, Android</p>
<p><b>Automation tools:</b> JUnit, Espresso, Jest, Cucumber, Selenium</p>
<p><b>Additional Skills:</b> Git Flow, UML, Jenkins, Docker, Kubernetes, Kafka, bash-scripting, Google Cloud, Algorithms and Data Structures</p>